<div class="col s7">
    <table>
        <thead>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Habitacion</th>
            <th>Precio</th>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotelService.hoteles">
                <td>{{ hotel.checkin }}</td>
                <td>{{ hotel.checkout }}</td>
                <td>{{ hotel.habitacion }}</td>
                <td>{{ hotel.precio }}</td>
                <td>
                    <!--<a (click)="reservarHotel">
                        <i class="material-icons">Reservar</i>
                    </a>-->
                    <div class="container">
                        <a href="https://192.168.100.42:4600/banco" class="material-icons" style="font-size:30px">Reservar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


        