<nav class="small">
    <div class="container">
        <a class="right" style="font-size:20px">Logout</a>
    </div>
</nav>

<h1>Bienvenido!</h1>

<!--<input type="button" onclick="location.href='http://localhost:3100/api/reservas';" value="Reservas" />

<div class="card-action">
    <button class="btn blue" onclick="location.href='http://localhost:59022/reserva';">Reservas</button>
</div>-->

<div class="container">
    <a href="https://192.168.100.42:4300/vuelo" class="brand-logo" style="font-size:30px">Vuelos</a>
</div>
<div class="container">
    <a href="https://192.168.100.42:4400/hotel" class="brand-logo" style="font-size:30px">Hoteles</a>
</div>
<div class="container">
    <a href="https://192.168.100.42:4500/vehiculo" class="brand-logo" style="font-size:30px">Vehículos</a>
</div>
