<div class="col s7">
    <table>
        <thead>
            <th>Ida</th>
            <th>Vuelta</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Precio</th>
        </thead>
        <tbody>
            <tr *ngFor="let vuelo of vueloService.vuelos">
                <td>{{ vuelo.ida }}</td>
                <td>{{ vuelo.vuelta }}</td>
                <td>{{ vuelo.origen }}</td>
                <td>{{ vuelo.destino }}</td>
                <td>{{ vuelo.precio }}</td>
                <td>
                    <a (click)="reservaVuelo">
                        <i class="material-icons">Reservar</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


        